{% extends '@!EasyAdmin/layout.html.twig' %}
{% block head_stylesheets %}
    {{ parent() }}
{% endblock %}

{% block head_favicon %}
    <link rel="shortcut icon" href="{{ asset('favicon.ico') }}">
{% endblock %}

{% block head_javascript %}
    {{ parent() }}
    <script src="https://code.jquery.com/jquery-3.6.3.min.js" integrity="sha256-pvPw+upLPUjgMXY0G+8O0xUf+/Im1MZjXxxgOcBQBXU=" crossorigin="anonymous"></script>
{% endblock head_javascript %}

{% block page_title %}Garanzia Artigianato Liguria - {{ parent() }}{% endblock page_title %}

{% block body %}
    {{ parent() }}
    <footer class="footer text-center text-white">
        <div class="d-sm-flex justify-content-between grid-container pt-4">
            <div class="d-sm-flex text-dark pb-4">
                <span class="mt-auto mb-auto">
                    ©{{ "now"|date("Y") }} Copyright: Garanzia Artigianato Liguria
                    <small>
                        <span class="hours-check">{{ "now"|date("Y-m-d H:i:s") }}</span>
                    </small>
                </span>
            </div>
            <div class="pb-4">
                <img src="{{ asset('images/europe.png') }}" alt="europe">
                <img src="{{ asset('images/italian-republic.png') }}" alt="italian-republic">
                <img src="{{ asset('images/liguria.png') }}" alt="liguria">
            </div>
        </div>
    </footer>
{% endblock body %}
